{
    "extends": "rallycoding",
    "rules": {
        "max-len": "off",
        "eol-last": "off",
        "arrow-body-style": "off",
        "no-unused-vars": "warn",
        "prefer-const": "off"
    }
}